<!DOCTYPE html>
<html lang="da" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<nav>
    <strong>Ønskeliste</strong>
    <br>
    <ul>
        <li><a href="#Hjem" class="nav">Hjem</a></li>
        <li><a href="#Om" class="nav">Om</a></li>
        <li><a href="login.html" class="nav">Login</a></li>
        <li><a href="opret.html" class="nav">Opret bruger</a></li>
        <li><a href="#Kontakt" class="nav">Kontakt os</a></li>
    </ul>
</nav>

<header id="Hjem">
    <h1>Ønskeliste</h1>
    <p>Velkommen til din helt egen og nemme ønskeliste, her kan du oprette og dele din ønskeliste med dine kære.</p>
</header>

<main>
    <section id="Om">
        <h2>Hvem er vi?</h2>

        <p>Vi er en engageret gruppe af mennesker der fik ideen om at videreudvikle en ønskeliste alle kan være en del
            af,
            med formål om at be om masser af gaver til masser af forskellige arrangementer.</p>

    </section>
</main>
<br>
<footer id="Kontakt">
    <p>Kontakt</p>
    <p>Email: ønskelisteexample@email.com</p>
</footer>
</body>
</html>