<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<nav>
    <strong>Ønskeliste</strong>
    <ul>
        <li><a th:href="@{/wish}">Hjem</a></li>
        <li><a th:href="@{/wish/login}">Login</a></li>
        <li><a th:href="@{/wish/opret}">Opret bruger</a></li>
    </ul>
</nav>

<header>
    <h1>Login</h1>
    <p>Her kan du logge ind på din helt egen profil.</p>
    <p th:if="${error}" th:text="${error}" style="color: red"></p>
</header>


<form th:action="@{/wish/login}" method="post">
    <div class="field">
        <label class="label" for="email">Email</label>
        <input class="input" type="email" id="email" name="email" placeholder="Indtast din email her" required>
    </div>

    <div class="field">
        <label class="label" for="password">Password</label>
        <input class="input" type="password" id="password" name="password" placeholder="Indtast dit password her"
               required>
    </div>

    <div>
        <input type="submit" value="Login">
    </div>
</form>

</body>
</html>